<div class="container">
    <div class="card">
      <h4 class="card-header">Sign In</h4>
      <div class="card-body">
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
          <!-- Username -->
          <div class="form-group">
            <label for="username"
              >Username<span class="text-danger ml-1">*</span></label
            >
            <input type="text" formControlName="username" class="form-control" />
            <div *ngIf="form.username.errors" class="text-danger">
              <div *ngIf="form.username.errors.required">
                Username is required
              </div>
            </div>
          </div>
          <!-- Password -->
          <div class="form-group">
            <label for="password"
              >Password<span class="text-danger ml-1">*</span></label
            >
            <input type="password" formControlName="password" class="form-control" />
            <div *ngIf="form.password.errors" class="text-danger">
              <div *ngIf="form.password.errors.required">
                Password is required
              </div>
              <div *ngIf="form.password.hasError('minlength')">
                Password length must be at least 8 characters
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="!signInForm.valid">Submit</button>
        </form>
      </div>
    </div>
  </div>
  
