<div id="hero-image">
  <div class="wrapper">
    <h2>Introducing <strong>Roomies</strong><br /></h2>
    <h4><mark>For organizing all your housemates needs in one easy place</mark></h4>
    <a href="#get-started" class="button-1">Get Started</a>
  </div>
</div>

<div id="features">
  <div class="wrapper">
    <h2>Features</h2>
    <ul>
      <li class="feature-1">
        <h4>Easy to Use</h4>
        <p>Have each roommate <a href="http://localhost:4200/signIn">create an account</a> and then <a
            href="http://localhost:4200/newAccount">sign in</a> to your house to begin using Roomies! Add needed items
          to the grocery list and all your house tasks to the chore list.</p>
      </li>
      <li class="feature-2">
        <h4>Simple & Minimal </h4>
        <p>Utilize the clean dashboard design to stay organized and up to date on house groceries still needed to be
          bought and monthly, weekly, or even daily chores to be done.</p>
      </li>
      <li class="feature-3">
        <h4>Roommate Satisfaction</h4>
        <p>Roomies is a convenient method of ensuring proper communication and completion of your shared housing needs
          for every kind of roommate. No excuses for an empty fridge or a messy home!</p>
      </li>
      <div class="clear"></div>
    </ul>
  </div>
</div>

<div id="dashboard">
  <div class="wrapper">
    <hr>
    <h2>Dashboard </h2>
    <p>The dashboard interface, seen in the image below, is the main method of visual communication between roommates.
      Each roommate in the house can see both the Grocery List and the Chore List view in their dashbaord. Additionally,
      roommates can add items and tasks to both lists or mark them as bought or complete to notify their other roomies
      of the change. Groceries and chores can be removed or edited as needed. The dashboard allows for the a simple and
      easy to use experience for Roomies users.</p>
  </div>
  <div id="dashboard-img"></div>
</div>

<div id="get-started">
  <div class="wrapper">

    <article>
      <h2>Get Started</h2>
      <h4><mark>Are you ready to start using Roomies with your housemates? Great! The process is as easy as having each
          roommate <a href="http://localhost:4200/signIn">create an account</a> and then <a
            href="http://localhost:4200/newAccount">sign in</a> to your house to begin using Roomies! Add needed items
          to be bought to the grocery list and all of your montly, weekly, or even daily household tasks to the chore
          list.</mark></h4>

    </article>
  </div>
</div>