<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Add Chore Task</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addChoreTaskForm" (ngSubmit)="onSubmit()">
        <!-- Task Name -->
        <div class="form-group">
          <label for="name"
            >Task Name<span class="text-danger ml-1">*</span></label
          >
          <input type="text" formControlName="name" class="form-control" />
          <div *ngIf="form.name.errors" class="text-danger">
            <div *ngIf="form.name.errors.required">Task Name is required</div>
          </div>
        </div>
        <!-- Task Assigned Roomie -->
        <div class="form-group">
          <label for="userId"
            >Assigned Roomie<span class="text-danger ml-1">*</span></label
          >
          <select
            formControlName="userId"
            class="form-control"
            (change)="assignTo($event.target.value)"
          >
            <option *ngFor="let user of users" value="{{ user.userId }}">
              {{ user.name }}
            </option>
          </select>
          <div *ngIf="form.userId.errors" class="text-danger">
            <div *ngIf="form.userId.errors.required">
              Task Assigned Roomie is required
            </div>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-success btn-lg btn-block"
          [disabled]="!addChoreTaskForm.valid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
